@import "tailwindcss";

* {
  font-family: "Lato", system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #ededed;
}

/* Custom scrollbar */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}

@media print {
  @page {
    size: 100mm 150mm;
    margin: 0px 15px;
  }

  body {
    margin: 0;
    padding: 0;
    background: white !important;
    font-size: 10pt;
  }

  body * {
    visibility: hidden;
  }

  .print-container,
  .print-container * {
    visibility: visible;
  }

  .print-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    max-width: none;
    padding: 2mm;
    margin: 0;
    overflow: visible;
  }

  .no-print {
    display: none !important;
  }

  * {
    color: black !important;
    box-shadow: none !important;
    background: white !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

.animate-fade-out {
  animation: fadeOut 1s ease-in forwards;
}

/* color

red-blood: #691c1c

*/
